<h3><%= @user.username %>'s Profile Page</h3>

<p>Contact: <%= @user.email %></p>

<% if @user.id == current_user.id %>
  <ul id="edit-delete-user">
    <li><a href="/users/<%= @user.id %>/edit">Edit Profile</a></li>
    <li>
      <form method="post" action="/users">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <input type="submit" value="Delete Profile">
      </form>
    </li>
  </ul>
<% end %>