<h1>Welcome To Social Beers</h1>

<div id="search-home">
  <div id="search-container">
    <form class="search-form" action="/search" method="post">
      <input class="search-string" type="text" name="search[query]" placeholder="NYC">
      <input class="search-submit-button" type="submit" value="Search">
    </form>
  </div>
</div>

<div id="results-container">
  <table id="breweries">
  </table>
</div>

<div id="tweets-container">
  <ul class="tweets-list">
  </ul>
</div>
