<div id="search-home">
  <div id="search-container">
    <form class="search-form" action="/search" method="post">
      <input class="search-string" type="text" name="search[query]" placeholder="search a city">
      <input class="search-submit-button" type="submit" value="Search">
    </form>
  </div>


  <div id="greeting">
    <p>
      your city, your breweries
    </p>
    <p>
      connecting you to the source one tweet at a time
    </p>
  </div>
</div>

<div id="results-container">
  <table id="breweries">
  </table>
</div>

<div id="tweets-container">
</div>
